{{ partial "header.html" . }}
<div class="content container">
    {{ range where .Data.Pages "Title" "Blog" }}
        <div class="markdown">
            {{ .Content }}
        </div>
    {{ end }}
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-10">
            {{- range first 10 (where .Data.Pages "Title" "!=" "Blog") }}
                <div class="panel">
                    <div class="panel-body">
                        <div class="col-md-9">
                            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                            <p>{{ .Summary }}</p>
                        </div>
                        <div class="col-md-3">
                            <a href="{{ .Permalink }}">
                                <img class="img-responsive img-rounded" src="{{ .Param "image" }}"/>
                            </a>
                        </div>
                    </div>
                </div>
            {{- end }}
        </div>
    </div>
</div>
{{ partial "footer.html" . }}